@model MVCWithBlazor.Models.ActiuneModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Actiune</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ActiuneModelID" />
            <div class="form-group d-none">
                <label asp-for="ActiuneModelID" class="control-label"></label>
                <input asp-for="ActiuneModelID" class="form-control" />
                <span asp-validation-for="ActiuneModelID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descriere" class="control-label"></label>
                <input asp-for="Descriere" class="form-control" />
                <span asp-validation-for="Descriere" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tip" class="control-label"></label>
                <select asp-for="Tip" class="form-control" asp-items="Html.GetEnumSelectList<MVCWithBlazor.Data.TipActiune>()"></select>
                <span asp-validation-for="Tip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsUseInputText" class="control-label"></label>
                <input asp-for="IsUseInputText" class="form-control" />
                <span asp-validation-for="IsUseInputText" class="text-danger"></span>
            </div>
            <div class="form-group d-none">
                <label asp-for="InputText" class="control-label"></label>
                <input asp-for="InputText" class="form-control" value="" />
                <span asp-validation-for="InputText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UtilajModelID" class="control-label"></label>
                <select asp-for="UtilajModelID" class="form-control" asp-items="ViewBag.UtilajModelID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
