@using MVCWithBlazor.Components
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">AutoMentenanta Reports </h1>
    <div class="alert ">
        <a class="btn btn-info" asp-controller="Problema" asp-action="Index">Sesizari</a>
    </div>
    @*<div class="alert">
        <a class="btn btn-info" asp-action="admin">Automentenanta</a>
    </div>
    <div class="alert">
        <a class="btn btn-info" asp-action="admin">Mentenanta Preventiva</a>
    </div>*@

    @*<component type="typeof(ComponentProba)" render-mode="ServerPrerendered" />*@
</div>
