@model MVCWithBlazor.Models.ProblemaModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ProblemaModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group d-none">
                <label asp-for="DataIntroducere" class="control-label"></label>
                <input asp-for="DataIntroducere" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")"/>
                <span asp-validation-for="DataIntroducere" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UtilajModelID" class="control-label"></label>
                <select asp-for="UtilajModelID" class="form-control" asp-items="ViewBag.UtilajModelID"></select>
            </div>
            <div class="form-group">
                <label asp-for="ProblemaDescriere" class="control-label"></label>
                <textarea rows="3" asp-for="ProblemaDescriere" class="form-control"></textarea>
                <span asp-validation-for="ProblemaDescriere" class="text-danger"></span>
            </div>
            <div class="form-group d-none">
                <label asp-for="ComentariuMentenanta" class="control-label"></label>
                <textarea class="form-control" rows="3" data-val="true" data-val-length="Comentariu mentenanta nu poate depasi 250 de caractere!" 
                          data-val-length-max="250" data-val-required="Comentariu mentenanta" id="ComentariuMentenanta" maxlength="250" name="ComentariuMentenanta"
                          >Completeaza Mentenanta</textarea>
                <span asp-validation-for="ComentariuMentenanta" class="text-danger"></span>
            </div>
            @if (!User.Identity.IsAuthenticated)
            {
                <div class="form-group">
                    <label asp-for="Stare" class="control-label"></label>
                    @*<input asp-for="Stare" class="form-control" />*@
                    <select asp-for="Stare" class="form-control" asp-items="Html.GetEnumSelectList<MVCWithBlazor.Data.Status>()"></select>
                    <span asp-validation-for="Stare" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ResponsabilModelID" class="control-label"></label>
                    <select asp-for="ResponsabilModelID" class="form-control" asp-items="ViewBag.ResponsabilModelID"></select>
                </div>
                <div class="form-group">
                    <label asp-for="TermenFinalizare" class="control-label"></label>
                    <input asp-for="TermenFinalizare" class="form-control" />
                    <span asp-validation-for="TermenFinalizare" class="text-danger"></span>
                </div>
            }
            <div class="form-group d-none">
                <label asp-for="LastPersonUpdateRow" class="control-label"></label>
                <input asp-for="LastPersonUpdateRow" class="form-control" value="@User.Identity.Name" />
                <span asp-validation-for="LastPersonUpdateRow" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
